/******************************************************
* JBoss Theme :: Novell - "Mission Critical" CSS      *
*                By: paul tamaro, 11/15/05            *
*******************************************************/

#body {
   background-image: url( images/portal_background.jpg );
   background-repeat: repeat-x;
   background-color: #5c5c5a;
   margin: 0px;
   padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #e2e7bf;
}

/*****************
* Portal Header  *
******************/

/* spacer to keep header at certain width regardless of display size
done to avoid overlapping of tab navigation in header */
#spacer {
   width: 1024px;
   line-height: 0px;
   font-size: 0px;
   height: 0px;
}

/* Wrapper for Header */
#header-container {
   height: 100%;
   min-width: 1000px;
   width: 100%;
   /* test to reposition header on page
  position: absolute;
  bottom: 5px;*/
}

/* Header background */
#header {
   padding: 0px;
}

#logoName {
/* Logo...*/
   background-image: url( images/portal-header.gif );
   background-repeat: no-repeat;
   width: 440px;
   height: 440px;
   z-index: 0;
   position: absolute;
   left: 0px;
   top: -1px;
}

/************************
* Portal Layout Regions *
*************************/

/* wrapper for entire portal. starts/ends after/before body tag */
#portal-container {
/*width: 100%;*/

/*part of below IE hack to preserve min-width for portlet regions */
   padding: 0 350px 0 350px;
}

/* min width hack for IE */
#expander {
   margin: 0 -350px 0 -350px;
   position: relative;
}

/* min width hack for IE */
#sizer {
   width: 100%;
}

/* IE Hack \*/
* html #portal-container,
   * html #sizer,
   * html #expander {
   height: 0;
}

/* end IE min-width hack */

/*table that contains all regions. does not include header*/
#content-container {
   height: 100%;
   width: 99%;
   text-align: left;
   max-width: 1600px;
   min-width: 800px;
   position: absolute;
   top: 100px;
   left: 12px;
   z-index: 2;
   /*part of below IE hack
padding: 0 350px 0 350px;*/
}

/* Login JSP Selectors */
#login-container {
   position: relative;
   left: 35%;
   top: 55px;
   right: 45%;
   width: 320px;
   height: 250px;
   margin: 0px;
}

#login-container label, #login-container input {
   display: block;
   float: left;
   width: auto;
   margin-top: 15px;
}

#login-container label {
   text-align: right;
   padding-right: 20px;
   width: 95px;
}

#login-container br {
   clear: left;
}

#loginButton {

}

#login-container legend {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 13px;
   font-weight: bold;
   color: #768591;
}

#loginForm {
   margin: 0px;
   padding: 0px;
}

/* end Login Page Selectors */

/* portlet regions within content-container. this includes footer-container. */
#regionA {
   /* test to swap columns...
 float: right; */
   width: 30%;
   float: left;
   margin: 0px;
   padding: 0px;
   min-width: 250px;
   height: 300px;
}

#regionB {
   /*test to swap columns...
margin: 0 30% 0 0; */

/* two column layout*/
   margin: 0 0 0 30%;
   padding: 0;
   width: 69%;
   height: 300px;

   /* test to add 3rd region in layout...
  width: 40%;
  float: left;*/
}

#regionC {
/* inclusion of 3rd region - comment out for 2 region testing */
   /* padding: 0px;
 width: 27%;
 float: left; */
   display: none;
   height: 300px;
}

/* give a maximized portlet more space */
#regionMaximized {
   width: 100%;
   float: left;
   margin: 0px;
   padding: 0px;
   min-width: 400px;
}

#footer-container {
   margin: 12px 10px 12px 30%;
   padding: 0px 0px 12px 12px;
   text-align: left;
}

#navigation-container {
   /* no time to get to this yet...
 border: 1px dotted #fff;
 height: 22px;
 width: 400px;
 top: 80px;
 left: 200px;
 z-index: 3; */
}

#sub-navigation-container {
/* nothing here yet */
}

/* used to clear float in regionA,B,C divs so that
footer spans bottom of page */
hr.cleaner {
   clear: both;
   height: 1px;
   margin: -1px 0 0 0;
   padding: 0;
   border: none;
   visibility: hidden;
}

/****************************
* Tab Navigation for Header *
*****************************/

UL#tabsHeader {
   margin: 0;
   padding-left: 440px;
   min-width: 550px;
   z-index: 100; /* added for submenu hover */
   position: relative; /* added for submenu hover */
}

UL#tabsHeader li {
   list-style: none;
   float: left;
   margin-left: -1px;
   margin-top: 74px;
   margin-right: 0px;
   line-height: 24px;
   padding: 0px; /* border-right: 1px dotted #8b8d89;*/
   border-left: 1px dotted #8b8d89;
}

UL#tabsHeader li:hover {
   background-image: url( images/highlightedTab.gif );
   background-repeat: repeat-x;
}

/* hover selectors for main header tabs done to deal
with IE not liking hover pseudo class on li */
UL#tabsHeader li.hoverOn {
   background-image: url( images/highlightedTab.gif );
   background-repeat: repeat-x;
}

UL#tabsHeader li.hoverOff {
   background-image: none;
}

UL#tabsHeader a {
   display: block;
   float: left;
   padding: 0px 15px 0px 15px;
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   background: 100% 0 no-repeat;
   color: #999999;
}

UL#tabsHeader a:hover {
   text-decoration: underline;
}

UL#tabsHeader #current, UL#tabsHeader #current a {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: 600;
   color: #e1d54b;
   background-image: url( images/activeTab.gif );
   background-repeat: repeat-x;
}

/* Begin Submenu selectors */

/* hide the sub levels and give them a positon absolute so that they take up no room */
UL#tabsHeader ul {
   visibility: hidden;
   position: absolute;
   height: 0;
   top: 0px;
   left: 0;
   width: 150px;
   text-align: left;
   margin: 0px;
   padding: 0px;
   margin-top: 22px;
}

UL#tabsHeader ul a {
   font: 11px;
   font-family: Verdana, Arial, Helvetica, Sans-Serif, sans-serif;
   font-weight: normal;
   color: #5078aa;

}

UL#tabsHeader ul a:hover {
   font: 11px;
   font-family: Verdana, Arial, Helvetica, Sans-Serif, sans-serif;
   font-weight: normal;
   color: #5078aa;
}

UL#tabsHeader #current ul a {
   font: 11px;
   font-family: Verdana, Arial, Helvetica, Sans-Serif, sans-serif;
   font-weight: normal;
   color: #5078aa;
}

UL#tabsHeader li:hover ul {
   visibility: visible;
}

UL#tabsHeader ul li {
   background: #EDECEC;
   color: #5078aa;
   padding: 3px;
   width: 120px;

   border: 1px solid #FFFFFF;
   border-width: 1px 1px 0 0;

   margin-left: 0px;
   margin-top: 0px;
   margin-right: 0px;
}

UL#tabsHeader ul li:hover {
   background: #E2E2E2;
}

/* End Submenu selectors */

/* used for sub navigation if applicable
UL#tabsHeader #currentSubNav, UL#tabsHeader #currentSubNav a {
  color: #000;
  line-height: 19px;
  padding-top: 0px;
  padding-bottom: 1px;
  margin-bottom: -1px;
  background: #eeeeef;
}*/

/* Tab background color for selected global nav item */
li.currentTabBackground {
   background: #fff;
}

/* used for sub navigation if applicable
li.currentTabBackgroundSubNav {
  background: #eeeeef;
}*/

/* backslash hack for IE5-Mac \*/
UL#tabsHeader a {
   float: none;
}

/* End Mac Hack */
html>body UL#tabsHeader a {
   width: auto;
}

/* fixes IE6 win hack */

/***************************
*  Utility Navigation  *
*****************************/

#dashboardnav {
   float: right;
   font-size: 10px;
   padding: 6px 12px 0px 0px;
   color: #FFFFFF;
   z-index: 20;
}

#dashboardnav a {
   color: #FFFFFF;
}

#dashboardnav .addcontent {
   background-image: url( images/ico_addcontent.gif );
   background-repeat: no-repeat;
   background-position: left;
   height: 20px;
   width: 20px;
   padding-left: 16px;
}

/****************************
* Portlet Container Windows *
*****************************/

.portlet-container {
/* margin: 10px; */
   padding: 10px 7px 11px 7px;
}

.portlet-titlebar-title {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 9px;
   font-weight: bold;
   text-transform: uppercase;
   color: #444;
   white-space: nowrap;
   line-height: 100%;
   float: left;
   text-indent: 10px;
   margin: 0px;
   padding: 0px;
   padding-bottom: 1px;
   top: 0px;
   vertical-align: top;
   letter-spacing: 1px;
   word-spacing: 2px; /* border: 1px dashed #fff */
}

.portlet-titlebar-decoration {
   background-image: url( images/portlet-win-decoration.gif );
   background-repeat: no-repeat;
   height: 7px;
   width: 7px;
   float: left;
   position: relative;
   top: 4px;
   left: 0px;
}

/* wrapper for floating portlet window modes */
.portlet-mode-container {
   float: right;
   background-image: url( images/portlet-mode-bg.gif );
   background-repeat: no-repeat;
}

.portlet-titlebar-left {
   background-image: url( images/portlet-top-left.gif );
   background-repeat: no-repeat;
   background-position: left;
   height: 15px;
   width: 5px;
   min-width: 5px;
   padding-right: 0px;
}

.portlet-titlebar-center {
   background-image: url( images/portlet-top-middle.gif );
   background-repeat: repeat-x;
   height: 15px;
}

.portlet-titlebar-right {
   background-image: url( images/portlet-top-right.gif );
   background-repeat: no-repeat;
   width: 5px;
   height: 15px;
   min-width: 5px;
}

.portlet-content-left {
   height: 100%;
   width: 5px;
   min-width: 5px;
   /* background-color: #ffffff;
border-left: 1px solid #858f8c; */
   background-image: url( images/portlet-left-vertical.gif );
   background-repeat: repeat-y;
}

.portlet-content-center {
   /* background-image: url(images/portlet-background.gif);
 background-repeat: no-repeat; */
   background-color: #7a7b77;
   background-position: bottom left;
   vertical-align: top;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 13px; /* UNCOMMENT FOR TESTING.... border-right: 1px solid #858f8c; */
   margin: 0px;
   padding: 10px;

}

.portlet-body .portlet-text {
   background-color: #7a7b77;
   color: #eee;
}

.portlet-content-right {
   height: 100%;
   background-image: url( images/portlet-right-vertical.gif );
   background-repeat: repeat-y;
   background-position: left;
   width: 5px;
   min-width: 5px;
   /*background-color: #ffffff;
border-right: 1px solid #858f8c;*/
}

.portlet-footer-left {
   background-image: url( images/portlet-bottom-left.gif );
   background-repeat: no-repeat;
   background-position: left;
   height: 6px;
   width: 5px;
}

.portlet-footer-center {
   background-image: url( images/portlet-bottom-middle.gif );
   background-repeat: repeat-x;
   background-position: left;
   height: 6px;
   /* background-color: #ffffff;
border-bottom: 1px solid #858f8c; */
}

.portlet-footer-right {
   background-image: url( images/portlet-bottom-right.gif );
   background-repeat: no-repeat;
   background-position: right;
   height: 6px;
   width: 5px;
   /* background-color: #ffffff;
border-right: 1px solid #858f8c;
border-bottom: 1px solid #858f8c;*/
}

/***********************
* Portlet Window Modes *
************************/
.portlet-mode-maximized {
   background-image: url( images/maximize.gif );
   width: 15px;
   height: 15px;
   background-repeat: no-repeat;
   float: left;
   display: inline;
   cursor: pointer;
}

.portlet-mode-minimized {
   background-image: url( images/minimize.gif );
   width: 15px;
   height: 15px;
   background-repeat: no-repeat;
   float: left;
   display: inline;
   cursor: pointer;
}

.portlet-mode-normal {
   background-image: url( images/normal.gif );
   width: 15px;
   height: 15px;
   background-repeat: no-repeat;
   float: left;
   display: inline;
   cursor: pointer;
}

.portlet-mode-help {
   background-image: url( images/help.gif );
   width: 15px;
   height: 15px;
   background-repeat: no-repeat;
   float: left;
   display: inline;
   cursor: pointer;
}

.portlet-mode-edit {
   background-image: url( images/edit.gif );
   width: 15px;
   height: 15px;
   background-repeat: no-repeat;
   float: left;
   display: inline;
   cursor: pointer;
}

.portlet-mode-edit {
   background-image: url( images/admin.gif );
   width: 15px;
   height: 15px;
   background-repeat: no-repeat;
   float: left;
   display: inline;
   cursor: pointer;
}

.portlet-mode-remove {
   background-image: url( images/remove.gif );
   width: 15px;
   height: 15px;
   background-repeat: no-repeat;
   float: left;
   display: inline;
   cursor: pointer;
}

.portlet-mode-view {
   background-image: url( images/view.gif );
   width: 15px;
   height: 15px;
   background-repeat: no-repeat;
   float: left;
   display: inline;
   cursor: pointer;
}

.portlet-mode-reload {
   background-image: url( images/reload.gif );
   width: 15px;
   height: 15px;
   background-repeat: no-repeat;
   float: left;
   display: inline;
   cursor: pointer;
}

/**********************
* Copyright Selectors *
***********************/
.portal-copyright {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 9px;
   color: #777;
}

a.portal-copyright {
   color: #fff799;
   text-decoration: none;
}

a.portal-copyright:hover {
   color: #fcc24f;
   text-decoration: underline;
}

#ThemeBy:before {
   content: "Theme by Novell";
}

/*************
*  Elements  *
**************/
a:link {
   color: #fff799;
   text-decoration: none;
}

a:visited {
   color: #fff699;
   text-decoration: none;
}

a:hover a:active {
   color: #fcc24f;
   text-decoration: underline;
}

INPUT {
   padding: 0px 2px 0px 2px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: normal;
   color: #444;
   /* background-color: #999;
 background-image: url(images/form-button-bg.gif);
 background-repeat: repeat-x; */
   border: 1px solid #777;
   cursor: pointer;
}

SELECT {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   background-color: #8b8d89;
   color: #444;
}

OPTION {
   background-color: #8b8d89;
}

FONT {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   color: #768591;
}

FIELDSET {
/*background-color: #999;*/
   border: 1px solid #BABDB6;
   padding: 6px;
   background-color: transparent;
}

LEGEND {
   text-transform: uppercase;
   background-color: transparent;
   padding-left: 6px;
   padding-right: 6px;
   padding-bottom: 0px;
   font-size: 13px;
   color: #e1d54b;
}

UL LI#pagenosub {
   list-style-image: url( images/bullet.gif ) !important;
}

UL LI#foldheader {
   list-style-image: url( images/bullet.gif ) !important;
}

UL#foldinglist LI {
   list-style-image: url( images/bullet.gif ) !important;
}

/*******************
* Table Selectors  *
********************/
/* Table header */
.portlet-table-header {
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #e1d54b;
}

/* Normal text in a table cell */
.portlet-table-body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
}

/* Text in every other row in the table */
.portlet-table-alternate {
   background-color: #efefef;
   background-image: url( images/portlet-section-alt-bg2.gif );
   background-position: bottom left;
   background-repeat: repeat-x;
   color: #666;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
}

/* Text in a selected cell range */
.portlet-table-selected {
   background-color: #999;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #fff;
}

/* Text of a subheading */
.portlet-table-subheader {
   font-weight: bold;
   font-size: 11px;
   font-family: Arial, Helvetica, sans-serif;
   color: #e1d54b;
}

/* Table footer */
.portlet-table-footer {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   color: #e1d54b;
}

/* Text that belongs to the table but does not fall in one of the other categories (e.g. explanatory or help text that is associated with the table). */
.portlet-table-text {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: italic;
}

/********
* FONTS *
*********/

/* Font attributes for the normal  fragment font.
Used for the display of non-accentuated information */
.portlet-font {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #444;
}

/* Font attributes similar to the portlet.font but the color is lighter */
.portlet-font-dim {
   color: #999c8b;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
}

/********
* FORMS *
*********/

/* Text used for the descriptive label of the whole form (not the label for fields)...why not call this portlet-form-title? */
.portlet-form-label {
   color: #444;
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
}

/* Text on a form button */
.portlet-form-button {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: normal;
   color: #444;
   background-image: url( images/form-button-bg.gif );
   background-repeat: repeat-x;
   border: 1px solid #777;
   cursor: pointer;
}

/* Text that appears beside a context dependent action icon */
.portlet-icon-label {

}

/* Text that appears beside a "standard" icon (e.g Ok, or Cancel)
not sure if we need this one?.. */
.portlet-dlg-icon-label {

}

/* Text for form field labels */
.portlet-form-field-label {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
}

/* Text for a form field */
.portlet-form-field {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   background-color: #8b8d89;
   border: 1px solid #777;
   margin-top: 10px;
}

/* Text of the user-input in an input field. not sure if we need this guy? */
.portlet-form-input-field {
   color: #444;
   background-color: #8b8d89;
   border: 2px solid #777;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   padding: 0px 4px 0px 4px;
}

/********
* LINKS *
*********/

.portal-links:link {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: bold;
   color: #fff799;
   text-decoration: none;
}

.portal-links:visited {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: bold;
   color: #fff699;
   text-decoration: none;
}

.portal-links:hover .portal-links:active {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-weight: bold;
   color: #fcc24f;
   text-decoration: underline;
}

/***********
* MESSAGES *
************/

/* Status of the current operation. */
.portlet-msg-status {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-style: normal;
   color: #660000;
}

/* Help messages, general additional information, etc. */
.portlet-msg-info {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   font-style: italic;
   color: #990000;
}

/* Error messages. */
.portlet-msg-error {
   color: #990000;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   font-style: oblique;
}

/* Warning messages. */
.portlet-msg-alert {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   font-style: oblique;
   color: #cc0000;
}

/* Verification of the successful completion of a task. */
.portlet-msg-success {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-weight: bold;
   font-style: oblique;
   color: #330000;
}

/***********
* SECTIONS *
************/

/* Table or section header */
.portlet-section-header {
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #e1d54b;
   border-bottom: 1px dotted #8b8d89;
   padding: 12px 0px 0px 0px;
   margin: 12px 0px 4px 0px;
}

/* Normal text in a table cell */
.portlet-section-body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
}

/* Text in every other row in the cell */
.portlet-section-alternate {
   background-color: #efefef;
   background-image: url( images/portlet-section-alt-bg2.gif );
   background-position: bottom left;
   background-repeat: repeat-x;
   border: 1px solid #555;
   color: #666;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   padding: 10px;
}

/* This fixes the nesting issue on main screen in alt rows... */
.portlet-section-alternate {
   color: #666;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
}

.portlet-section-alternate a:link {
   color: #f90;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 11px;
}

.portlet-section-alternate a:visited {
   color: #f90;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 11px;
   text-decoration: line-through;
}

.portlet-section-alternate a:hover, .portlet-section-alternate a:active {
   color: #f60;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: 11px;
   text-decoration: underline;
}

/* Text in a selected cell range */
.portlet-section-selected {
   background-color: #999;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   color: #fff;
   padding: 10px;
   border: 1px solid #555;
}

/* Text of a subheading */
.portlet-section-subheader {
   font-weight: bold;
   font-size: 11px;
   font-family: Arial, Helvetica, sans-serif;
   color: #e1d54b;
}

/* Table or section footnote */
.portlet-section-footer {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   color: #e1d54b;
}

/* Text that belongs to the table but does not fall in one of the other categories
(e.g. explanatory or help text that is associated with the section. */
.portlet-section-text {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: italic;
}

/********
* MENUS *
*********/

/*General menu settings such as background color, margins, etc. */
.portlet-menu {

}

/* Normal, unselected menu item. */
.portlet-menu-item {
   color: #242424;
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
}

.portlet-menu-item:hover {
   color: #fff;
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
}

/* Selected menu item. */
.portlet-menu-item-selected {

}

/* Selected menu item when the mouse hovers over it. */
.portlet-menu-item-selected:hover {

}

/* Normal, unselected menu item that has sub-menus. */
.portlet-menu-cascade-item {

}

/* Selected sub-menu item that has sub-menus */
.portlet-menu-cascade-item-selected {

}

/* Descriptive text for the menu (e.g. in a help context below the menu) */
.portlet-menu-description {

}

/* Menu caption */
.portlet-menu-caption {

}

/* A separator bar similar to a horizontal rule, but with styling matching the page */
.portlet-horizontal-separator {
   height: 1px;
   color: #e1d54b;
}

/* Allows portlets to mimic the title bar when nesting something */
.portlet-nestedTitle-bar {
}

/* Allows portlets to match the textual character of the title on the title bar. */
.portlet-nestedTitle {
}

/* Support portlets having tabs in the same style as the page or other portlets */
.portlet-tab {
}

/* Highlight the tab currently being shown */
.portlet-tab-active {
}

/* Highlight the selected tab (not yet active) */
.portlet-tab-selected {
}

/* A tab which can not be currently activated */
.portlet-tab-disabled {
}

/* Top level style for the content of a tab. */
.portlet-tab-area {
}
